<div class="container">

<h2>{{radioTitle}}</h2>
<div class="space"></div>
<form id="loanDetailsForm" form [formGroup]="loanDetailsForm" (ngSubmit)="applyLoan()">
  <div class="form-group">

  <input type="radio" checked name="options"  [(ngModel)]="myProperty"  value="New"/><label>New Loan</label>
  <input type="radio"  [(ngModel)]="myProperty" formControlName="options" name="options" value="topUp"/><label>Top UP</label>
  <input type="radio"  [(ngModel)]="myProperty"  formControlName="options" name="options" value="ReFinance"/><label>ReFinance</label>
</div>



    <div class="form-group">
      <label for="FieldName"  class="control-label">Select a Bank</label>
          <select class="form-control" formControlName="bankName" style="width:25%" (change)="selectedBankValue($event)" required >
              <option *ngFor="let division of bankListUnique" [value]="division">
                {{ division }}
              </option>
            </select>
            
    </div>

    <div class="form-group">
      <label for="FieldName" class="control-label">Type of loan</label>
          <select class="form-control" formControlName="loanName" style="width:25%" (change)="selectedLoanValue($event)" required >
              <option *ngFor="let loan of loanList" [value]="loan">
                {{ loan }}
              </option>
            </select>
            
    </div>
    <table border="0" cellpadding="2" width="29%">

    <tr><td>Income:</td><td><input type="number" formControlName="income" [(ngModel)]="income" /><br /><br /></td></tr>
    <tr><td>Expenses:</td><td><input type="number" formControlName="expenses" [(ngModel)]="expenses" /><br /><br /></td></tr>
    <tr><td>Credit Amount:</td><td><input type="number" formControlName="credit" [(ngModel)]="credit" /><br /><br /></td></tr>



    <tr><td>Loan Amount:</td><td><input type="number" formControlName="loanAmount" [(ngModel)]="loanAmount" /><br /><br /></td></tr>
    <tr><td>Tenure in Months:</td><td><select  placeholder="Select price" name="item" (change)="selectedTenureInMonths($event)">
  <option *ngFor="let item of tenureInMonths" [value]="item.value">
    {{ item.value }}
  </option>
</select><br /><br /></td></tr>
<tr><td>interest:</td>
<td><input [(ngModel)]="interest" formControlName="interest" /><br /><br /></td></tr>
    </table>
<button (click)="cal()">Calculate</button>
<h1 class="test">EMI:{{ emiValue }}/m</h1>
  <div  *ngIf="showErr">
      <p class="alert alert-warning">
        <strong>{{errorMessage}}</strong>
      </p>
    
  </div>

<button mat-raised-button class="btn btn-danger" (click)="checkEligibility()">Check Eligibility</button>

<button mat-raised-button class="btn btn-primary" (click)="applyLoan()" [disabled]="this.showErr">Apply Loan</button><br/>
</form>
          </div>
