<div class="container">

<h2>{{radioTitle}}</h2>
<div class="space"></div>
<form id="loanDetailsForm" form [formGroup]="loanDetailsForm" (ngSubmit)="applyLoan()">
  <div class="form-group">

  <input type="radio" formControlName="options" name="options" [checked]="true" value="New" class="ng-valid ng-dirty ng-touched"/><label>New Loan</label>
  <input type="radio" formControlName="options" name="options" value="topUp"/><label>Top UP</label>
  <input type="radio" formControlName="options" name="options" value="ReFinance"/><label>ReFinance</label>
</div>

    <div class="form-group">
      <label for="FieldName"  class="control-label">Select a Bank</label>
          <select class="form-control" formControlName="bankName" style="width:25%" (change)="selectedBankValue($event)" required >
              <option *ngFor="let division of bankListUnique" [value]="division">
                {{ division }}
              </option>
            </select>
            
    </div>

    <div class="form-group">
      <label for="FieldName" class="control-label">Type of loan</label>
          <select class="form-control" formControlName="loanName" style="width:25%" (change)="selectedLoanValue($event)" required >
              <option *ngFor="let loan of loanList" [value]="loan">
                {{ loan }}
              </option>
            </select>
            
    </div>
    Income:<input type="number" formControlName="income" [(ngModel)]="income" /><br />
    Expenses:<input type="number" formControlName="expenses" [(ngModel)]="expenses" /><br />
    Credit Amount:<input type="number" formControlName="credit" [(ngModel)]="credit" /><br />

    <button mat-raised-button class="btn btn-danger" (click)="cal()">Check Eligibility</button><br/>


Loan Amount:<input type="number" formControlName="loanAmount" [(ngModel)]="loanAmount" /><br />
Tenure in Months:<input type="number" formControlName="tenure" [(ngModel)]="tenure" /> <br />
interest:
<input type="number" [(ngModel)]="interest" formControlName="interest" />
<button (click)="cal()">Calculate</button>
<h1>EMI:{{ emi }}/m</h1>

<button mat-raised-button class="btn btn-primary" (click)="applyLoan()">Apply Loan</button><br/>
</form>
          </div>
