<div id="tf-home">
    <div class="overlay">
        <div id="sticky-anchor"></div>
        <nav id="tf-menu" class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand logo" href="index.html"><img src="assets/img/kyl.png" alt="kyl" style="height: 60px; width: 80px;"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    

                   
                    <li><a  routerLink="home">Home</a></li>
                    <li><a  routerLink="loans">Loans</a></li>
                    <li><a  routerLink="about">About</a></li>
                    <li><a  [routerLink]="['login']">Login</a></li>


                  </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

<div id="tf-about">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <h3>About KYL</h3>
                    <br>
                    <p>KYL is a Professional Loan Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of loan, with a focus on dependability and provides loans as per the customers eligibility. We're working to turn our passion for loan into a booming online website. </p>
                    <p>We hope you enjoy our loan as much as we enjoy offering them to you.</p>
                    <br>
                    <a href="#" class="btn btn-primary my-btn dark">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


