

<div id="tf-service">
  <h3 style="align-content: center; margin-left: 550px; ">Loans We Provide</h3>
     <div class="container">
        <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-motorcycle"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Vehicle Loan</h4>
                <p>Buying your dream car is no longer as Dream. KYL, provides you the Loans for buying your dream car or bike. </p>
              </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-gears"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Personal Loan</h4>
                <p>In KYL, we provide you the Personal Loans as per your requirements. Money will not be the problem any more in your personl things.</p>
              </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-heartbeat"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Business Loan</h4>
                <p>In KYL, We provide the Business Loans for the expanding your business or for the New Startup.</p>
              </div>
            </div>

        </div>
        
    </div>
</div>