
<div id="tf-contact">
  <div class="container">
      <div class="section-title">
          <h3>LOGIN</h3>
      </div>

      <div class="space"></div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form id="contact" form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" >
                  <span class="text-danger" *ngIf="(loginData['email'].touched || submitted) && loginData['email'].errors?.['required']">
                    Email is required     
                 </span>
                 <span class="text-danger" *ngIf="loginData['email'].touched && loginData['email'].errors?.['email']">
                    Enter a valid email address
                 </span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="loginPassword" placeholder="Enter Password" formControlName="password">
                  <span class="text-danger" *ngIf="(loginData['password'].touched || submitted) && loginData['password'].errors?.['required']">
                    Password is required
                  </span>
                  <span class="text-danger" *ngIf="(submitted && loginData['password'].hasError('required')) || loginData['password'].touched && loginData['password'].errors?.['invalidPassword']">
                    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                    letter and 1 number
                  </span>
                </div>
                <button type="submit" class="btn btn-primary my-btn dark">SIGN IN</button>
                <div></div>
                New User ?<span> </span><button class="btn btn-primary">Register Here</button>
                <a href="#tf-passwordReset" class="btn btn-link">Forgot Password</a>
                </form>
          </div>
      </div>
  </div>
</div>

